pre[class*="language-"] {
    padding: 0;
    margin: 1.5em 0;
    margin-bottom: 2em;
}
code[class*="language-"] {
   font-size: 1em !important;
}

table {
    padding: 0;
    margin: 1.5em 0;
    margin-bottom: 2em;
}

.rst-content blockquote {
    margin-left: 0;
    padding-left: 24px;
    border-left: 5px #efefef solid;
}

.wy-side-nav-search {
    background-image: url(/assets/logo_text.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 180px;
}

.document a[href^="https://reference.magpie-experiments.org"]::before {
    content: "📕 ";
}

.document a[href^="https://magpie-experiments.org"]::before {
    content: "🔖 ";
}
